# Python
__pycache__/
*.pyc
.venv/
env/
venv/

# Node / React Native / Flutter
node_modules/
build/
dist/
*.log

# Env & secrets
.env
*.db

# AI models / data
checkpoints/
*.h5
*.pt
*.onnx
*.mp4
*.avi
*.mov

# OS files
.DS_Store
Thumbs.db


pycache/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

*.manifest
*.spec
pip-log.txt
pip-delete-this-directory.txt
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
.idea/
.vscode/
*.db
*.db-journal