fastapi
uvicorn[standard]
sqlalchemy
pydantic
pydantic-settings
python-dotenv
python-multipart
mediapipe
opencv-python-headless
pandas
numpy
scipy
pydantic
matplotlib
geopy
scikit-image
tensorflow
streamlit
requests
pandas